body {
  background-color: #f7f7f7 !important;
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.list-table-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-tab-title {
  font-size: 24px;
  margin: 0 8px 20px;
  color: #4c4c4c;
}

.secondary-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--secondary-title);
  margin: 0;
}

.input-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--secondary-title);
  margin: 0 0 0 10px;
  cursor: pointer;
}

.primary-button {
  background: var(--primary-button-background);
  border-radius: 3px;
  height: 44px;
  width: 235px;
  border: none;
  outline: 0;
  color: white;
}

.back-button {
  margin-bottom: 10px;
  cursor: pointer;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  background-color: var(--secondary-button-background);
}

@media (max-width: 768px) {
  .primary-button {
    margin-top: 10px;
    width: 100%;
  }
}

:root {
  --navbar-background: #1dbf72;
  --primary-button-background: #1dbf72;
  --secondary-button-background: #1d9fbf;
  --primary-title: #404040;
  --secondary-title: #1dbf72;
  --border-color: #9a9a9a;
  --admin-background-color: #f6f6f6;
  --admin-card-color: #fff;
}