.text-container {
  background-color: #0047d3;
  width: 100%;
  text-align: center;
  padding: 12px;
}

.text-container>h1 {
  text-transform: uppercase;
  margin: 0;
  color: #f2f8ff;
  font-weight: 600;
  font-size: 26px;
  margin-top: 10px;
  font-family: "Roboto";
}

.text-container>p {
  margin: 5px auto;
  color: #f2f8ff;
  font-weight: 500;
  font-size: 18px;
  max-width: 30%;
  line-height: 24px;
  font-family: "Roboto";
}

@media (max-width: 768px) {
  .text-container>h1 {
    font-size: 22px;
  }
  .text-container>p {
    max-width: 100%;
    font-size: 16px;
  }
}